@model DDAC_Maersk.Models.Ship

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@using (Html.BeginForm("Create", "Ship"))
{
    @Html.LabelFor(m => m.ShipName)
    @Html.TextBoxFor(m => m.ShipName)

    @Html.LabelFor(m => m.ShipContainerNumber)
    @Html.TextBoxFor(m => m.ShipContainerNumber)

    <button type="submit">Submit</button>
}
