@{
    ViewBag.Title = "About";
}

<br>
<h3>About Us</h3>
<hr>

<div style="font-size:15px;">
    <p>
        Maersk Line is the global container division and the largest operating unit of the A.P. Moller – Maersk Group, a Danish business conglomerate.
        It is the world's largest container shipping company having customers through 374 offices in 116 countries. It employs approximately 7,000 sea farers and approximately 25,000 land-based people. Maersk Line operates over 600 vessels and has a capacity of 2.6 million TEU. The company was founded in 1928.
        <br />
        The Maersk Line Container Management System (CMS) is designed and developed to cater to manage the containers as well as a solution that reduces overall supply chain costs and an efficient way to manage logistics.
    </p>
</div>